{
  "root": true,
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:effector/react",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "ignorePatterns": ["dist", ".eslintrc"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react-hooks", "effector", "prettier"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "no-console": "warn",
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-double"],
    "no-unused-vars": "warn",
    "no-var": "error",
    "prefer-const": "warn",
    "comma-dangle": ["warn", "never"],
    "semi": ["warn", "always"],
    "@typescript-eslint/no-explicit-any": "off",
    "react-hooks/exhaustive-deps": "warn"
  }
}
