{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "none",
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "^@effector/(.*)$",
    "^@mui/(.*)$",
    "^@emotion/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@hooks/(.*)$",
    "^@components/(.*)$",
    "^@types/(.*)$",
    "^(?!.*[.](css|scss)$)[./].*$",
    ".(css|scss)$"
  ]
}
